<nav class="navBar">
    <div class="nav-container">
        <div class="title-logo">
            <img src="/images/artstation.svg">
            <h1>Arty Portfolio</h1>

        </div>

        <ul>
            <a href="/">
                <li>Dashboard</li>
            </a>
        </ul>
        <div class="title-container">
            <img src="/images/menu.svg">
            <h2>Categories</h2>
        </div>

        <ul>
            <a href="/category/artists">
                <li>Artists</li>
            </a>
            <a href="/category/artworks">
                <li>Artworks</li>
            </a>
            <a href="/category/mediums">
                <li>Mediums</li>
            </a>
            <a href="/category/styles">
                <li>Styles</li>
            </a>
            <a href="/category/locations">
                <li>Locations</li>
            </a>
        </ul>

        <div class="title-container">
            <img src="/images/plus-thick.svg">
            <h2>Add New</h2>
        </div>
        <ul>

            <a href="/artist/create">
                <li>Artist</li>
            </a>
            <a href="/artwork/create">
                <li>Artwork</li>
            </a>
            <a href="/medium/create">
                <li>Medium</li>
            </a>
            <a href="/style/create">
                <li>Style</li>
            </a>
            <a href="/location/create">
                <li>Location</li>
            </a>
        </ul>

    </div>

</nav>
