<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>Index</title>
</head>
<body>

        <%- include('./partials/sidebar.ejs') %>
        <%- include('./partials/search.ejs') %>

        <div class="content-container">
            <h2>Dashboard</h2>
            <div class="content dashboard">
                <div class="card dashboard pink">
                    <p>10 Artists</p>
                    <img src="/images/account.svg">
                </div>
                <div class="card dashboard green">
                    <p>50 Artworks</p>
                    <img src="/images/artboard.svg">
                </div>
                <div class="card dashboard blue">
                    <p>15 Art Styles</p>
                    <img src="/images/palette.svg">
                </div>
                <div class="card dashboard purple">
                    <p>12 Mediums</p>
                    <img src="/images/brush.svg">
                </div>
                <div class="card dashboard orange">
                    <p>10 Locations</p>
                    <img src="/images/city.svg">
                </div>
            </div>
            <h2>Featured Artists</h2>
        </div> <!-- Missing > added here -->

    </body>
</html>
