<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/style.css">
  </head>
<body>
    <%- include('../partials/sidebar.ejs') %>
    <%- include('../partials/search.ejs') %>
    <div class="content-container">
        <div class="title-card purple">
            <h2><%= title %></h2>
        </div>
        <form action="/medium/create" method="POST">
            <label for="material">Medium: </label>
            <input type="text" name="material" id="material" required>

            <button type="submit">Submit</button>
          </form>

      </div>

</body>
</html>
